<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feel | School Search Engine</title>
    
    <link rel="stylesheet" href="styles.css">

    <script src="https://kit.fontawesome.com/52087b4c0f.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

</head>
<body>
    <!-- screen 1 incliudes navBar, logo, searchBar -->
    <div class="screen-1">

        <div class="nav">
            <div class="nav-left">
                <a>Login/Signup</a>
            </div>
            <div class="nav-center">
                <img src="/logo.gif" alt="logo-gif" id="sm-logo">
            </div>
            <div class="nav-right">
                FEEL <i class="fa fa-caret-down"></i>
            </div>
        </div>


        <div id="logo-gif-div">
            <img src="/logo.gif" alt="logo-gif" id="logo">
        </div>

        <div class="tag-line">
            <p>Find the Best School of your city</p>
        </div>

        <div id="search-bar-div">
            <input type="text" id="search" name="search" placeholder="     City, School?">
        </div>

        <div id="start-btn-div">
            <button id="start-btn">Start with <img src="/feel.png" id="feel-img"></button>
        </div>

    </div>
    
    <!-- screen 2 -->
    <div class="screen-2">

        <div class="section-1">
            <p id="p1">Welcome</p>
            <p class="p2">To the largest school search engine</p>
            <p class="p3">Feel is the Largest school search engine which is known as school admission platform.</p>
            <p class="p4">Students can get admission in their favourite school in just few clicks</p>
        </div>

        <div class="section-2">
            <img src="image-1.png" alt="welcome-image" class="img1">
        </div>

    </div>

    <!-- screen 3 -->
    <div class="screen-3">
        <img src="image-2.png" alt="image-2" class="image-2">
    </div>

    <!-- screen 4 -->
    <div class="screen-4">

        <div class="section-1" id="sec-left">
            <p style="font-size: 3.8rem; padding-bottom: 40px; color:rgb(53, 53, 53)">Make In</p>
            <img src="india-image.png" alt ="india-image" class="india-img">
            <br>
            <img src="download-btn.png" alt="play-store-image" class="download-img">
        </div>

        <div class="section-2" id="sec-right">
            <img src="mobile-image.png" alt="welcome-image" class="mobile-img">
        </div>

    </div>

    <!-- footer or screen 5 -->
    <div class="footer">
        <div class="socials">
            <i class="fa-brands fa-square-facebook icon"></i>
            <i class="fa-brands fa-square-twitter icon"></i>
            <i class="fa-brands fa-square-instagram icon"></i>
            <i class="fa-brands fa-linkedin icon"></i>
        </div>

        <div class="last-line">
            <a class="foot">FEEL © 2020</a> 
            <a class="foot">Privacy Policy</a>
            <a class="foot">Contact Us</a>
        </div>
    </div>
    
</body>
</html>